// Styling for the footer
footer {
    color: fade-out(white, .1);
    text-align: center;

    p {
        font-size: 18px;
        margin: 0;
    }
    ul {  margin-bottom: 0;  }
    a {
        margin-right: 20px;
        font-size: 30px;
        color: fade-out(white, .7);
        &:hover,
        &:focus,
        &:active,
        &.active {
            text-decoration: none;
        }
        @media (min-width: 992px) {
            font-size: 20px;
        }
    }
}

