/* Project Orangutan Matter
*  Author Sura Karnawi
*  Date March 2019
*/

/* Color */
//@import "https://fonts.googleapis.com/css?family=Open+Sans";
//@import "https://fonts.googleapis.com/css?family=Baumans";

$orange :  #d6290f;
$orange-light : #E74C3C;
$white : #fff;
$dark : #323232;
$darker: #000;
$space : 30px;
$space-top : 40px;
$baumans :  'Baumans', sans-serif;
$josafine-sans : 'Josefin Sans', sans-serif;
//Mixin
@mixin transition($sec) {
  -webkit-transition: all $sec ease;
  -moz-transition: all $sec ease;
  -o-transition: all $sec ease;
  transition: all $sec ease;
}

* {
  outline: none;
}

body {
  font-family: $josafine-sans;
}

h1, h2, h3, h4 , h5 ,h6 , .baumans, .shaky-link {
  font-family: $baumans;
  margin: 0;
}
h2 {
  color: $dark;
  margin-bottom: $space;
  text-align: center;
  z-index: 99999999;
  @media (min-width: 768px) {
    display: block;
    left: 2%;
    height: 130px;
    margin-bottom: 0;
    position: absolute;
    top: 30px;
    width: 130px;
    .text {
      display: block;
      font-size: 25px;
      line-height: 130px;
      position: absolute;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      z-index: 9999;
    }
  }
}
.circle {
  border-radius: 50%;
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: visibility .5s; /* Safari */
  transition: visibility .5s;
  visibility: hidden;
  width: 100%;
  z-index: 9;
}

.rounded-thumbnail {
  border-radius: 50%;
}

p {
  font-size: 16px;
}
.fa {
  font-size: 40px;
  margin: 5px;
}
blockquote{
  font-size: 23px;
  border: none;
  padding: 20px 70px;
  position: relative;
  text-align: left;
  .small-text{
    font-size: 17px;
  }
  .brush-stroke{
    position: absolute;
    left:-9px;
    top: -22px;
  }
  @media (max-width: 767px) {
    padding: 30px 0 0 30px;
    .brush-stroke {
      display: block;
      width: 121px;
      top: -7px;
    }
  }
}
.relative {
  position: relative;
}
.justify, .justify p {
  text-align: justify;
}
.white {
  color: $white;
}
.bg-white {
  background-color: $white;
}
.orange, a.orange {
  color : $orange
}
.bg-orange {
  background-color : $orange;
  color : $white;
}
.bg-orange-light {
  background-color: $orange-light;
}
.dark {
  color : $dark;
}
.bg-dark {
  background-color: $dark;
  color: $white;
}
.bg-black {
  background-color: $darker;
  background-image: url(/img/bg__black-canvas.png);
  background-image: url(/img/subtel-patterns.com_extra_clean_paper.png);
  color: $white;
}
.spacing-m-t {
  margin-top : $space;
}
.spacing-m-b {
  margin-bottom : $space;
}
.spacing-p-t {
  padding-top: $space-top *2;
}
.spacing-p-t-double{
  padding-top: $space-top *3;
}
.spacing-p-b {
  padding-bottom: $space-top *2;
}
.spacing-p-b-double {
  padding-bottom: $space-top *3;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  overflow: hidden;
  position: relative;
}


@media (max-width: 767px) {
  .mobile-white{
    color: $white;
  }
  .mobile-orange{
    color:$orange;
  }
  .circle {
    border-radius:0;
    height: 1px !important;
    margin: $space 0 ;
    opacity: 0.9;
    width: 100% !important;
  }
}
//NAVIGATION
header {
  background-color: #ccc;
  position: relative;
  width: 100%;

  nav{
    color: white;
    font-size: 20px;
    background-color: $orange;
    bottom: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    right: -100%;
    top:0;
    position: fixed;
    width: 30%;
    z-index: 9999;
    @include transition(0.5s);
    ul {
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        text-decoration: none;
        padding: 0;
        text-align: center;
        a {
          color: $white;
          display: block;
          padding: 10px 20px;
          border-bottom: 1px solid $orange-light;
          &:hover {
            background-color: $orange-light;
            color: $white;
            text-decoration: none;
            @include transition(0.6s);
          }
        }
      }
    }
  }
}

#burger-link {
  background-color: transparent;
  border: none;
  display: block;
  height: 40px;
  width: 40px;
  position: fixed;
  margin-top: 20px;
  outline: none;
  right: 20px;
  z-index: 9999999999999;
  &:hover {
    background: transparent ;
  }
  .icon-bar {
    background-color: $orange;
    display: block;
    transition: all 0.5s east-in-out;
    height: 3px;
    width: 25px;
    position: absolute;
    @include transition(0.6s);
    &.first {
      top: 9px;
    }
    &.middle {
      top: 18px;
    }
    &.last {
      bottom: 9px;
    }

  }
}
header:not(.toggled) #burger-link{
  border-radius: 40px;
  position: absolute;
}

header.toggled {
  #burger-link {
    position: fixed;
    .icon-bar {
      background-color: $white;
      &.first {
        transform: rotate(-45deg);
        right: 6px;
        top: 17px;
        width: 30px;
      }
      &.middle {
        display: none;
      }
      &.last{
        transform: rotate(45deg);
        left: 4px;
        bottom: 20px;
        width: 30px;
      }
    }
  }
  nav{
    border-left: 1px solid $orange-light;
    height: auto;
    opacity: 1;
    right:0;
    z-index: 999999999;
    ul {
      padding-top: 100px;
    }
  }
}

.container__social-media {
  display: block;
  right:25px;
  top:50px;
  position: absolute;
  z-index: 9999999;

  .link__social-media {
    display: block;
    margin: 10px;
  }
  
  @media (min-width: 992px) {
    right:60px;
    top:25px;

    .link__social-media {
      display: inline-block;
    }

  }
  
}



/* BG */
.bg-canvas {
  background: url(../img/binary.png) repeat center;
  background-size: 5%;
  min-height: 250px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
.main-img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.btn-success {
  background:  $orange;
}
.btn-orange {
  color: $white;
  background:  $orange;
  background: $orange-light;
  border-color: $orange;
  width: 100%;
  max-width: 400px;
  &:hover, &:focus, &:visited, &:active {
    background-color: $orange-light ;
    border-color: $white;
  }
}
.sub-logo-text {
  position: absolute;
  left: 69px;
  bottom: -2px;
  padding: 0;
  font-size: 10px;
  border-bottom: 1px solid $orange;
}
/* Form - contact */
.help-block {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 5px;
      background-color: $orange-light;
      color:$white;
    }
  }
}

canvas {
  height: 500px;
  width: 100%;
  position: relative;
}

section{
  overflow: hidden;
  position: relative;
}

#circle1{
  display: block;
  background-color: white;
}

h1 {
  margin-top: 30px;
}


#brand {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  display: block;
  height: 60px;
  position: absolute;
  left: 20px;
  top:20px;
  width: 80px;
  z-index: 9999;

  @media (min-width: 992px) {
    position: fixed;
    width: 160px;
  }
  img {
    width: 100%;
  }
}

.frills-paint {
  background: transparent url(../img/black-ground-splash-paint.png) no-repeat;
  background-size: 100%;
  background-position:top center;
  min-height: 100px;

  @media (min-width: 992px) {
    //large devices desktop and above
    min-height: 220px;

  }
}

