.fixed-parallax {
  .image { // basic parallax class
    position : relative;
    height:  auto;
    min-height:40vh ;
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: 50%;
    @media (min-width: 768px) {
      //At least medium screens
      background-attachment: fixed; // key
      height : 90vh;
      background-size: inherit;
    }


    // individual parallax images
    &.one {
      background-image: url('https://raw.githubusercontent.com/chrispxpx/codepen-poc-images/master/pxpx-rocket-black.png');
    }
    &.two {
      background-image: url('https://raw.githubusercontent.com/chrispxpx/codepen-poc-images/master/pxpx-rocket-black-invert.png');
    }
    &.text-black{
      background-image: url(../img/jack-text-black.png);
    }
    &.text-white{
      background-image: url(../img/jack-text-white.jpg);
    }
    &.brand-orange-text {
      background-image: url(../img/orangutan-logo-no-text.png);
    }
  }
}

//move to global style
.acrylics-texture-background-tile {
  background-image: url(../img/acrylics-texture-background-tile.jpg);
}